@import "tailwindcss";

/* örnek custom animasyon */
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(30px); }
  to   { opacity: 1; transform: translateY(0); }
}
.fade-in-up { animation: fadeInUp .6s ease-out; }

.container { max-width: 1200px; margin: 0 auto; }